<form [formGroup]="signupForm" (ngSubmit)="submitForm()">
    <label>Username</label>
    <input type="text" formControlName="username">
    <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
        <small *ngIf="signupForm.get('username')?.errors?.['required']">Username is required.</small>
        <small *ngIf="signupForm.get('username')?.errors?.['minlength']">Username must be at least 6 characters
            long.</small>
    </div>

    <label>Email</label>
    <input type="email" formControlName="email">
    <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
        <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="signupForm.get('email')?.errors?.['email']">Email must be a valid email address.</small>
    </div>

    <label>Password</label>
    <input type="password" formControlName="password">
    <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
        <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</small>
        <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters
            long.</small>
    </div>

    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword">
    <div *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
        <small *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</small>
        <small *ngIf="signupForm.get('confirmPassword')?.errors?.['notMatch']">Passwords do not match.</small>
    </div>

    <button type="submit" [style.cursor]="signupForm.invalid ? 'not-allowed':'pointer' "
        [disabled]="signupForm.invalid">Submit</button>
</form>